{% extends 'navegacion.html.twig' %}

{% block title %}

    Empleados Listar

{% endblock %}



{% block content %}
    <h1 class="text-center text-danger">Listado de Empleados</h1>

    <a href="{{ path('usuario_altas') }}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Añadir Usuario</a>

    <table class="table table-bordered table-striped text-center mb-5 mt-5">
        <thead class="bg-danger text-light">
        <tr>
            <td>Usuario</td>
            <td>Empleado</td>
            <td>Tipo Usuario</td>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_form',{'id': usuario.id}) }}">{{ usuario.nombreUsuario }}</a></td>
                <td>{{ usuario.empleado}}</td>
                <td>{% if not usuario.administrador %} Usuario {% else %}Administrador {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

