{% extends 'navegacion.html.twig' %}

{% block content %}
    <a href="{{ path('informes_menu') }}" class="btn btn-danger"><i class="fas fa-arrow-alt-circle-left"></i> Ir atrás</a>
    <h1 class="text-center text-danger mb-5">
        Informe Excel
    </h1>

    <p class="mt-5 text-danger text-center mb-5">Selecione las fechas  de los accesos que quiera que se genere el informe y luego pulse sobre el botón generar informe, especifique un dni para filtrar también por empleado</p>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p class="mt-5">
        <button type="submit" class="btn btn-danger"><i class="fas fa-file-excel"></i> Generar informe</button>
    </p>
    {{ form_end(form) }}

{% endblock %}